* {
  
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  
}

a {

  color: cyan;
  
}

p {

  font-size: 1.5rem;

}

hr {

  margin: 5% auto 5% auto;

}

li {

  width: 85%;
  list-style-position: inside;
  justify-self: center;
  font-size: 1.5rem;

}

button {

  width: 80%;
  height: fit-content;

  padding: 5% 10%;

  background-color: #3498db;

  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);

  border: none;
  border-radius: 10px;

}

body {
  
  font-family: 'Arial', sans-serif;
  background-color: rgba(50, 47, 57, 1);
  color: #333;
  text-align: center;
  margin: 1%;
  text-decoration-skip: space;
  
}

#bodyBackgroundDiv {

  left: 0;
  top: 0;
  margin: 0 auto;
  padding: 0;
  z-index: -10;
  background-image: url(2356123245.avif);
  background-size: auto;
  background-position: center;
  border-radius: 20px;

}

#headerDiv {

  display: flex;
  flex-direction: row;

  width: 80%;

  justify-content: space-between;
  justify-self: center;

  padding: 5%;

}

#headerLogo {

  min-width: 200px;
  width: 15vh;
  max-width: 200px;
  border-radius: 10px;
  
}
#headerLogo:hover {

  cursor: pointer;

}

#iconsDiv {

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.socialIcon {

  min-width: 50px;
  width: 6rem;
  max-width: 200px;

  margin: 0 10% 0 0;

}
.socialIcon:hover {

  cursor: pointer;

}

.midSocialIcon {

  min-width: 33px;
  width: 4rem;
  max-width: 150px;

}

.miniSocialIcon {

  min-width: 25px;
  width: 2rem;
  max-width: 100px;

  margin: 1%;

}
.miniSocialIcon:hover {

  cursor: pointer;

}

#youtubeIcon {

  min-width: 50px;
  width: 7rem;
  max-width: 200px;
  
}
#youtubeIcon:hover {

  cursor: pointer;

}

header {
  
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-self: center;
  justify-content: space-evenly;
  margin: 0 auto 10% auto;
  background-color: rgba(52, 152, 219, 1);
  color: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  
}

header h1 {
  
  font-size: 2.5em;
  
}

header p {
  
  font-size: 1.2em;
  
}

.navlink {

  width: 50%;
  height: 100%;
  padding: 1rem;

}
.navlink:hover {

  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;

}

main {
  
  font-size: 1.1em;
  
}

footer {

  width: 80%;

  justify-self: center;
  
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.5);

  padding: 2.5%;
  
}

footer p {
  
  margin: 1%;
  
}

section {

  width: 90%;
  
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  margin: 5% auto;
  max-width: 600px;
  
}

h2 {
  
  font-size: 3rem;
  color: #3498db;
  
}

.h2_2 {

  color: white;

}

h3 {

  font-size: 2.5rem;
}

.h3_heading {

  width: 90%;
  justify-self: center;
  padding: 5%;
  font-size: 2.5rem;
  color: white;
  background-color: rgba(52, 152, 219, 0.75);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

}

.h3_subheading {

  margin: 5% auto 0 auto;

}

.h3_socialIconGroup {

  margin: 2.5% auto;

}

section {
  
  animation: fadeIn 2s ease-in-out;
  
}

.hyperlinked:hover {

  opacity: 0.666;
  cursor: pointer;

}

#cta_button {

  margin: 5%;

}

@media (max-aspect-ratio: 1/1) {

  header {

    flex-direction: column;

  }

  .navlink {

    width: 100%;

  }

  #headerDiv {

    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-self: center;

    padding: 5%;
  
  }

  #iconsDiv {

    margin: 5% 0 5% 0;

  }
  
  .midSocialIcon {

    min-width: 33px;
    width: 4rem;
    max-width: 150px;

  }

  footer {

    padding: 5%;

  }

}


@keyframes fadeIn {
  
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
  }
}
