* {
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

button {

  width: 80%;
  height: fit-content;

  padding: 5% 10%;

  background-color: #3498db;

  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);

  border: none;
  border-radius: 10px;

}

body {
  
  font-family: 'Arial', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  text-align: center;
  padding: 50px;
  
}

#headerDiv {

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 0 2.5% 2.5% 5%;

}

#headerLogo {

  min-width: 30px;
  width: 15vh;
  max-width: 200px;
  
}
#headerLogo:hover {

  cursor: pointer;

}

#iconsDiv {

  display: flex;
  align-items: center;
  justify-content: center;
  
}

.socialIcon {

  min-width: 50px;
  width: 8vh;
  max-width: 200px;

  margin: 0 10% 0 0;

}
.socialIcon:hover {

  cursor: pointer;

}

#youtubeIcon {

  min-width: 50px;
  width: 10vh;
  max-width: 200px;
  
}
#youtubeIcon:hover {

  cursor: pointer;

}

header {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(52, 152, 219, 1);
  color: white;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  
}

header h1 {
  
  font-size: 2.5em;
  
}

header p {
  
  font-size: 1.2em;
  
}

.navlink {

  width: 50%;
  height: 100%;
  padding: 1rem;

}
.navlink:hover {

  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;

}

main {
  
  font-size: 1.1em;
  
}

footer {
  
  margin-top: 40px;
  font-size: 0.9em;
  color: #777;
  
}

footer p {
  
  margin-top: 20px;
  
}

section {
  
  background-color: white;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  max-width: 600px;
  
}

h2 {
  
  font-size: 2em;
  color: #3498db;
  
}

.h2_2 {

  color: white;

}


section {
  
  animation: fadeIn 2s ease-in-out;
  
}

.hyperlinked:hover {

  opacity: 0.666;
  cursor: pointer;

}

#cta_button {

  margin: 5%;

}

@media (max-aspect-ratio: 1/1) {

  header {

    flex-direction: column;

  }

  .navlink {

    width: 100%;

  }

  #headerDiv {

    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 0 0 2.5% 0;
  
  }

  #iconsDiv {

    margin: 5% 0 5% 0;

  }

}


@keyframes fadeIn {
  
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
  }
}
